body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
  padding: 40px;
}

button {
  padding: 10px 20px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
}

.disc {
  font-size: 12px;
  color: red;
}
